ipython>=8.18
notebook>=7.2
jupyter-client==7.1.2
Cython==0.29.21
numpy==1.26.4
scipy==1.8.0
matplotlib==3.8.4
seaborn==0.13.2
pandas==2.2.2
scikit-learn==1.5.2
green==3.4.1
black
torch==1.10.2
pytorch-lightning
graphviz==0.16
jupyterlab>=4.2
ipywidgets>=8.1